div {
    display: flex;
    justify-content: center;
}

ul {
    margin-top:60px;
    list-style: disc;
}

li {
    cursor: pointer;
    margin:5px;
}

li h1{
    font-size:28px;
    font-weight:bold;
}

li:hover {
    text-decoration: line-through;
}